@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
@variant light (&:where(.light, .light *));

* {
  @apply transition-all duration-100;
  font-family: "BPG Nino Mtavruli Bold";
}

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url(/bpg_nino_mtavruli_bold.ttf);
}
